html, body{
	max-width: 100%;
   /* overflow-x: hidden;
    overflow-y:scroll;*/
    background-color: #fff;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/*#f6ead1*/

.loading{
	height:100%;
	width:100%;
	position:fixed;
    top:0px;
    left:0px;
	text-align: center;
	background-color: #fff;
	z-index: 10;
}

.img-loading{
	margin-right: auto;
	margin-left: auto;
}

.content{
	background-color: #fff;
}

#one{
	background-image:url(../lib/pics/notes.png);
	background-color: #F2EDE9;
	background-size: cover;
	background-position: center center;
	/*background-attachment: fixed;*/
	min-height: 100%;
	/*-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);*/
}

#two{
	background-image: url(../lib/pics/cityOne.png);
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#three{
	background-image: url(../lib/pics/cityTwo.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.title{
  position: relative;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}

.vertical-align {
    display: flex;
    align-items: center;
    height: 100%;
}

.titleOne{
    text-align: center;
    margin: auto;
    /*left: -35%;*/
    /*right: 1%;*/
    /*position: absolute;*/
    color:#000;
    min-width: 300px;
}

.titleTwo{
	text-align: center;
    margin: auto;
    /*left: 35%;*/
    /*right: 1%;*/
    /*position: absolute;*/
    color:#000;
    font-size: 50pt;
    font-weight: bolder;
    /*font-family: 'Quicksand', sans-serif;*/
    min-width: 300px;
}

#summary{
	/*font-family: 'Quicksand', sans-serif;*/
	font-size: small;
	font-size: 15pt;
}

#profile{
	height:300px;
	width: 300px;
	border-radius: 50%;
	min-height: 300px;
	min-width: 300px;
}

#profile-two{
	height:300px;
	width: 300px;
	border-radius: 50%;
	min-height: 300px;
	min-width: 300px;
}

.navbar{
	background-color: transparent;
	border-bottom: none;
}

.header{
	font-size: 180%;
	/*font-weight: bold;*/
	text-decoration: underline;
	/*font-family: 'Quicksand', sans-serif;	*/
}

.face-image{
	text-align: center;
	min-height: 300px;
	min-width: 300px;
	margin-right: auto;
	margin-left: auto;
}


.intro{
	font-size: 130%;
	text-align: left;
	/*font-family: 'Quicksand', sans-serif;	*/
	margin: 10%;
	/*margin-left: 0;*/
}

.larger{
	/*font-family: 'Quicksand', sans-serif;*/
	font-size:240%;
}

.gallery{
	width: 400px;
	height: 400px;
}

.images {
    -webkit-column-count: 3;  
    -moz-column-count: 3; 
    column-count: 3;
    column-gap: 2;
}

.image-center{
	text-align: center;
}

.image-wrapper img{
	width: 100%;
	height:auto;
	/*-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);*/

}

.image-wrapper{
	position: relative;
	padding-bottom: 18px;
}

.image-container{
	margin-top:5%;
	margin-bottom: 5%;
}

.bolding{
	font-weight: bolder;
	font-size: 105%;
}
.titleBox{
	direction: none;
	text-align: center;
	opacity: 0;
	background-color: #FFFAFA;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
	transition: opacity .35s ease;
	-webkit-transition: opacity .35s ease;
	-moz-transition: opacity .35s ease
}

.titleBox a{
	text-align: center;
	text-decoration: none;
	color:#080808;
	width: 100%;
	height: 100%;
}

.titleBox > a > div{
	width: 100%;
	text-align:center;
}

.titleBox > a > div > p{
	padding-left: 7%;
	padding-right: 7%;
	text-align: center;
	/*border-bottom: 1px solid #000;*/
}

.titleBox > a > div > p > .underline{
	font-size: 120%;
	border-bottom: 1px solid #000;
}

.company{
	color:#FA840F;
}

.logo{
	text-align: center;
	height:40px;
	/*margin-right: 40px;*/
	border-radius: 50%;
	opacity: 0.7;
}

.link-wrapper{
	margin-right: 40px;
}

.intro .right{
	text-align: center;
}

.rights{
	font-family: arial, sans-serif;
	text-align: center;
	font-size: 12px;
	background-color: #fff;
}

.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.links-list{
	/*text-align: center;*/
}

.links-list li{
	display: inline-block;
}


@media screen and (max-width: 700px) {
	.top-message{
		/*position: absolute;*/
		vertical-align: middle;
		/*left:30%;*/
		/*height: auto;*/
		display: block;
		height: auto;
	}

	.titleOne{
		min-width: 200px;
	}

	.top-message #profile{
		height:200px;
		width: 200px;
	}

	.top-message .titleTwo{
		font-size: 18pt;
	}

	.top-message #summary{
		font-size: 10pt;
	}
}

.bottom{
	background-color: #f6ead1;
}

@media screen and (max-width: 900px) {
	.intro-wrapper{
		/*position: absolute;*/
		vertical-align: middle;
		/*left:30%;*/
		/*height: auto;*/
		display: block;
		height: auto;
	}

	.intro{
		min-width: 200px;
	}

	.top-wrapper .face-image{
		height:300px;
		width: 300px;
		padding-bottom: 10%;
	}

	.face-image{
		min-height: 300px;
		min-width: 300px;
		margin-left: auto;
    	margin-right: auto;
   		margin-bottom: 10%;
	}
	
}

.resume_pic {
    -webkit-column-count: 1;  
    -moz-column-count: 1; 
    column-count: 1;
    column-gap: 0;
}

.resume_pic img{
	width: 100%;
}

@media screen and (max-width: 1000px) {
	.images {
	    -webkit-column-count: 2;  
	    -moz-column-count: 2; 
	    column-count: 2;
	    column-gap: 2;
	}
}

@media screen and (max-width: 480px) {
	.images {
	    -webkit-column-count: 1;  
	    -moz-column-count: 1; 
	    column-count: 1;
	    column-gap: 0;
	}

	.link-wrapper{
		margin-right: 20px;
	}
}



/*#open{
	position: fixed;
	height:100%;
	width: 100%;
	top:0;
	background-color: #000;
	text-align: center;
	vertical-align: middle;
	z-index: 10000;
	display: table-cell;
}

#loading{
	position: absolute;
	bottom:0;
	right: 0;
}

#content{
	width:100%;
}

.navbar-fixed-top{
	background-color: transparent;
	border-radius: 0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	margin-bottom: 0;	
	color:#fff;
	transition: background-color 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li > a{
	font-weight: 600;
	color: #fff;
	transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #f63e35;
}

.cd-fixed-bg{
	color:#e5eacc;
	text-align: center;
  	background-size: cover;
 	background-attachment: fixed;
 	background-repeat: no-repeat;
  	background-position: center center; 
}

.cd-fixed-bg p {
  position: relative;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
}


.cd-bg-1{
	background-image: url("../lib/pics/woods.jpg");
}

.cd-bg-2{
	background-image: url("../lib/pics/techpic4.jpg");

}

.cd-bg-3{
	background-image: url("../lib/pics/book1.jpg");
}

.cd-bg-4{
	background-image: url("../lib/pics/mail1.jpg");
	color:#000;

}

.profile{
	background-color: #212121;
	box-shadow: 0 0 1em  #000;
	display: table;
}

.picCol{
	text-align: center;
}
.profileContent{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.picrow{
	display:inline-block;
	height: 100%;
}

.profiletext{
	text-align: center;
}

.tech{
	display: table;
	background-color: #000;
	background-size: cover;
	background-position: center center;
	text-align: center;
	transition: background-color 0.5s ease-in-out;
	-webkit-transition: background-color 0.5s ease-in-out;
	-moz-transition: background-color 0.5s ease-in-out;
}

#techsentence{
	color:#fff;
	
}
.propicdiv{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#picture{
	margin: 0 auto;
}
.propic{
	background-color: #000;
}

.travel{
	background-color: #212121;
	display: table;
	padding: 0;
}

.photo{
	padding:0;
	display:table-cell;
	vertical-align: middle;
	text-align: center;
}

.photorow{
	text-align: center;
	display: table;
	position: relative;
	text-align: middle;
}

#camerapic{
	border: solid 5px #fff;
}


.textwrap{
	display: table-cell;
}

.connect{
	text-align: center;
	background-color: #fff;
}
.connectcontain{
	text-align: center;
}

.connectcontain a{
	padding-right:30px;
	padding-left:30px;
}

#logos{
	height:40px;
	opacity: 0.7;
}

#logos:hover{
	opacity: 1;
}

.rights{
	font-family: arial, sans-serif;
	text-align: center;
	font-size: 12px;
	background-color: #fff;
}

.font{
	font-family: 'Raleway', sans-serif;
}

#viewport { 
    overflow: hidden;
    perspective: 400; 

}

#world { 
	text-align: center;
    transform-style: preserve-3d;
}

#image-des, #text{
	
	height: 100%;
}

#pic-text{
	color:#fff;
}

.project-pic{
	height:50%;
	width:20%;
}

 .wrap {
 	  
      overflow: hidden;
      margin: 10px;
    }

    .wrap a{
    	color:#fff;
    }

    .wrap{
    	text-decoration: none;
    }

#techsentence{
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 25px;
	font-family: 'Poiret One', cursive;
}    
.box {
      float: left;
      position: relative;
      width: 33.3%;
    }
    .boxInner {
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      overflow: hidden;
      
      
    }

   
    .big {
      height: 100%;
      display: block; 
      margin: 0 auto;
    width: 100%;
    max-width: none;
    overflow: hidden;
    border: #fff 1px solid;
    }



    .small{
    	height: 100%;
    	width: auto;
    }
    .boxInner .titleBox {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: -50px;
      background: #000;
      background: rgba(0, 0, 0, 0.5);
      color: #FFF;
      padding: 10px;
      text-align: center;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    div.no-touch .boxInner:hover .titleBox, div.touch .boxInner.touchFocus .titleBox {
      margin-bottom: 0;
    }*/

    @media only screen and (max-width : 480px) {
      /* Smartphone view: 1 tile */
     /* .box {
        width: 100%;
        
        padding-bottom: 100%;
      }*/
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
      /* Tablet view: 2 tiles */
     /* .box {
        width: 50%;
        padding-bottom: 50%;
      }*/
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
      /* Small desktop / ipad view: 3 tiles */
     /* .box {
        width: 33.3%;
         padding-bottom: 33.3%;
      }
       .snooze{
       	
    	left:29%;
    }*/
    }
    @media only screen and (min-width : 1051px) {
      /* Medium desktop: 4 tiles */
     /* .box {
        width: 33.3%;
        padding-bottom: 25%;
      }
       .snooze{

    	left:29%;
    }*/
    }




@media screen and (min-width: 300px) and (max-width: 1000px) {
	
	/*#name{
		font-size: 60px;
	}

	#des{
		
		font-size: 30px;
	}

	#pitch{
		text-align: left;
		font-size: 17px;
		color:#fff;
	}

	#dream{
		text-align: left;
		font-size: 17px;
		color:#fff;

	}

	#others{
		text-align: left;
		font-style: italic;
		font-size: 15px;
		color:#fff;
	}

	#techsentence{
		font-size: 25px;
	}

	#tpara{
		color:#fff;
		font-size: 15px;
		margin: 0;
		padding: 0;
	}

	#desbook{
		color:#000;
		font-size: 30px;
	}

	.connectcontain a{
	padding-right:0px;
	padding-left:0px;
}*/
}

@media screen and (min-width: 1000px) {

	/*#name{
	font-size: 100px;
	}

	#des{
		font-size: 40px;
	}

	#pitch{
		text-align: left;
		font-size: 20px;
		color:#fff;

	}

	#dream{
		text-align: left;
		font-size: 20px;
		color:#fff;
	}

	#others{
		text-align: left;
		font-style: italic;
		font-size: 15px;
		color:#fff;
	}

	#techsentence{
		font-size: 25px;
	}

	#tpara{
		color:#fff;
		font-size: 25px;
		margin: 0;
		padding: 0;
	}

	#desbook{
		color:#000;
		font-size: 40px;
	}*/
}